@import '../../../style/mixin.scss';

.delivery-container {
    margin-top: .5rem;
    @include flex(space-between);
    background-color: #fff;
    border-left: .2rem solid #3190e8;
    height: 4rem;
    padding: 0 .5rem;
    .delivery-text {
        font-size: .8rem;
        color: #333;
        font-weight: 700;
        padding-left: .3rem
    }
    .delivery-info {
        font-size: .7rem;
        color: #3190e8;
        .delivery-desc {
            span {
                margin: .1rem .2rem;
            }
        }
        .delivery-type {
            @include flex(flex-end);
            margin-top: .5rem;
            span {
                width: 2.4rem;
                color: #fff;
                background-color: #3190e8;
                font-size: .5rem;
                padding: .1rem;
                border-radius: .12rem;
            }
        }
    }
}