@import '../../../style/mixin.scss';

.password-change-container{
    padding-top: .5rem;
    p, span, input, label{
        font-family: Helvetica Neue,Tahoma,Arial;
    }

    .password-form {
        background-color: #fff;
        .input-container{
            @include flex(flex-start);
            padding: .6rem .3rem;
            border-bottom: 1px solid #f1f1f1;
            input, label, .input{
                @include font(.7rem, #666)
            }
            label {
                margin-right: .2rem;
            }
            .input {
                margin-left: .2rem;
            }
        }
    }

    .button-switch{
        background-color: #ccc;
        @include flex();
        @include wh(2rem, .7rem);
        padding: 0 .2rem;
        border: 1px;
        border-radius: 0.5rem;
        position: relative;
        .circle-button{
          transition: all .3s;
          position: absolute;
          z-index: 1;
          left: -0.0rem;
          top: -0.2rem;
          background-color: #f1f1f1;
          @include wh(1.2rem, 1.2rem);
          border-radius: 50%;
        }
        .trans_to_right{
          transform: translateX(1.2rem)
        }
        span{
          @include font(.45rem, #fff);
          transform: translateY(.05rem);
        }
        span:nth-of-type(2){
          transform: translateY(-.08rem)
        }
    }
    .change-to-text{
    background-color: #4cd964;
    }
    .captcha-code-container{
    height: 2.2rem;
    .img-change-img{
        @include flex();
        img{
        @include wh(3.5rem, 1.5rem);
        margin-right: .2rem;
        font-size: .2rem;
        }

        .change-img{
        @include flex();
        flex-direction: column;
        flex-wrap: wrap;
        width: 2rem;
        p{
            @include font(.55rem, #666)
        }
        }
    }
    }
    .login-button{
      margin: 1rem .5rem 1rem;
      @include font(.7rem, #fff);
      background-color: #3b95e9;
      padding: .5rem 0;
      border: 1px;
      border-radius: 0.15rem;
      text-align: center;
    }
}
